* { box-sizing: border-box; }
html, body { height: 100%; }

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.column { flex-direction: column; }
